<!doctype html>
<html lang="en">

<head>
    <title>Byteball DApp Runner</title>
    <meta name="description" content="Simple interface to run Byteball DApps." />
    <meta name="keywords" content="crypto, crypto currency, byteball, dag, dapp" />
    <meta name="fragment" content="!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/prism.css">

</head>

<body class="bg-light m-4" ng-controller="DappController">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-featured"></div>
                <div class="card-body">
                    <form name="dappForm" novalidate>
                        <div class="form-group">
                            <label for="unit">DApp unit hash</label>
                            <input id="unit" type="text" class="form-control" ng-model="unit" aria-describedby="unitHelp" required placeholder="Enter unit hash">
                            <small id="unitHelp" class="form-text text-muted">The Byteball unit hash of the DApp code to execute</small>
                        </div>

                        <div ng-repeat="param in params track by param.name">
                            <div class="form-row">
                                <div class="form-group col-lg-3 col-sm-12">
                                    <input type="text" ng-model="param.name" ng-maxlength="20" required ng-required="true" class="form-control" placeholder="Name">
                                </div>
                                <div class="form-group col-lg-3 col-sm-12">
                                    <input type="text" ng-model="param.value" ng-maxlength="100" required ng-required="true" class="form-control" placeholder="Value">
                                </div>
                                <div class="col-lg-2">
                                    <button type="submit" ng-click="deleteParam(param.name)" class="btn btn-primary">Delete</button>
                                </div>
                            </div>
                        </div>

                        <button type="submit" ng-click="run()" class="btn btn-primary" ng-disabled="running || dappForm.$invalid">Run</button>
                        <button type="submit" ng-click="getDappSource()" class="btn" ng-disabled="!unit">Source</button>
                        <button type="submit" ng-click="addParam()" class="btn" ng-disabled="dappForm.$invalid">Add param</button>
                    </form>
                </div>
                <div class="card-body bg-dark text-white" ng-show="result">
                    <div class="card-text">{{ result }}</div>
                </div>
                <div class="card-body bg-danger text-white" ng-show="error">
                    <div class="card-text">{{ error }}</div>
                </div>
                <div class="card-body bg-ligh" ng-show="source">
                    <div class="card-title">Source:</div>
                    <div class="card-text">
                        <pre><code>{{ source }}</code></pre>
                    </div>
                </div>
                <div class="card-footer" ng-show="unit">
                    API: <a href="{{ getDappUrl() }}" target="_blank">{{ getDappUrl() }}</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">Examples</div>
                <div class="card-body">
                    <ul class="card-text">
                        <li>
                            Answer to the Ultimate Question of Life, the Universe, and Everything<br>
                            <a ng-class="card-link" ng-href="#" ng-click="unit='wJEV6k+WJ5vI0lolUe4CbqrMH8HnuBaaNqMI4E/R1ng='">wJEV6k+WJ5vI0lolUe4CbqrMH8HnuBaaNqMI4E/R1ng=</a>
                        </li>
                        <li>
                            Sum up two numbers. It takes two numeric parameters: 'a' and 'b'.
                            <a ng-class="card-link" ng-href="#" ng-click="unit='WILeXE/GEWWP1lJ0vk9yqMhi7AjfGqeR+tVjXmG87a0='">WILeXE/GEWWP1lJ0vk9yqMhi7AjfGqeR+tVjXmG87a0=</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card my-4">
                <div class="card-header">Node Information</div>
                <div class="card-body" ng-show="nodeInfo">
                    <p class="card-text">
                        <form>
                            <dl class="row">
                                <dt class="col-sm-2">Network:</dt>
                                <dd class="col-sm-10">{{ nodeInfo.network }}</dd>
                                <dt class="col-sm-2">Workers:</dt>
                                <dd class="col-sm-10">{{ nodeInfo.workerCount }}</dd>
                            </dl>
                            <label for="userPairingCode">Pairing code for users:</label>
                            <div class="input-group mb-4">
                                <input type="text" id="userPairingCode" class="form-control" readonly value="{{ nodeInfo.userPairingCode }}" />
                                <div class="input-group-append">
                                    <a href="{{ nodeInfo.protocol + ':' + nodeInfo.userPairingCode }}" class="btn btn-primary" role="button">Add bot</a>
                                </div>
                            </div>

                            <label for="workerPairingCode">Pairing code for worker nodes:</label>
                            <input type="text" id="workerPairingCode" class="form-control" readonly value="{{ nodeInfo.workerPairingCode }}" />
                        </form>
                    </p>
                    <p class="card-text">
                        Worker nodes are Byteball <a href="https://github.com/pmiklos/byteball-cluster-dapp-runner" target="_blank">DApp Runner</a> chat bots that connect to a <a href="https://github.com/pmiklos/byteball-cluster-coordinator" target="_blank">DApp Coordinator</a>                        bot using the above pairing code.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script src="/lib/prism.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="/app/app.js"></script>
    <script src="/app/services/DappService.js"></script>
    <script src="/app/services/NodeService.js"></script>
    <script src="/app/controllers/DappController.js"></script>

</body>

</html>
